[Unit]
Description=Starts Power.unit for Power.unit PCB
Requires=local-fs.target

[Service]
Type=simple
ExecStart=/opt/Powerunit/Powerunit.py
WorkingDirectory=/opt/Powerunit/

[Install]
WantedBy=multi-user.target
