[Unit]
Description=Starts Power.unit for Power.unit PCB
Requires=local-fs.target

[Service]
Type=simple
ExecStart=/opt/powerunit/powerunit.py
WorkingDirectory=/opt/powerunit/

[Install]
WantedBy=multi-user.target
